body {
        margin: 0;
        height: 100vh;    
        overflow-x: hidden;
        }

.header-container {
    position: relative;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}
.header-img {
    width: 1533px;
    height: 609px;
    aspect-ratio: 73/29;
    opacity: 0.5; 
    position: relative;
     
}

.logo-img {
width: 292px;
height: 291px;
aspect-ratio: 292/291;
top: -103px;
left: 18px;
position: absolute;
}

.Nav {
    position: absolute;
    top: 26px;
    left: 700px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    display: inline-flex;
    padding: 5px 0;
    align-items: flex-start;
    gap: 65px;
    height: 34px;
    width: 670px;
    color: #124B3D; 
}

.Nav a {
    text-decoration: none;   
    color: #124B3D;          
    font-weight: bold;       
}
.Nav a.active {
    color: #B10B20;
}

.Login {
    position: absolute;  
    top: 18px;            
    left: 1377px;        
    width: 123px;        
    height: 49px;         
    border-radius: 10px;  
    background-color: #B10B20; 
    color: white;                
    font-family: "Poppins", sans-serif; 
    font-weight: bold;          
    display: flex;              
    justify-content: center;
    align-items: center;

}

.Company-Name {
    position: absolute;          
    top: 123px;                  
    left: 73px;                  
    width: 982px;              
    height: 185px;             
    color: #2D2D2D;             
    font-family: "Russo One", sans-serif;
    font-size: 70px;            
    font-weight: 400;           
    font-style: normal;         
    line-height: 1;            
    letter-spacing: 0;           
}

.Description {
    position: absolute;        
    top: 320px;
    left: 90px;
    width: 716px;              
    height: 72px;              
    color: #000000;             
    font-family: "Poppins", sans-serif; 
    font-size: 24px;            
    font-style: normal;         
    font-weight: 400;          
    line-height: 1.5;             
    letter-spacing: 0;           
}

.Contact {
    position: absolute;   
    top: 455px;           
    left: 360px;        
    width: 176.3515px;       
    height: 49px;        
    border-radius: 10px;  
    background-color: #B10B20;  
    color: white;                 
    font-family: "Poppins", sans-serif;
    font-weight: bold;           
    display: flex;               
    justify-content: center;
    align-items: center;
}

.lead-engineers-section {
    background: #fdf8ec;
    max-width: 850px;
    margin: 80px auto;
    padding: 50px 45px;
    border-radius: 22px;
    border: 1px solid rgba(20, 90, 70, 0.8);
    box-shadow: 0 12px 20px rgba(0,0,0,0.12);
    font-family: 'Poppins', sans-serif;
}

.section-title {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: #114c3a;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.engineer-card {
    position: relative;
    display: flex;
    align-items: center;
    background: #fff7e6;
    border: 2px solid #e57b7b;
    border-radius: 25px;

    width: 70%;
    height: 75px; /*height ng card container*/

    padding-left: 80px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 0 auto 50px auto; /*margin para di dikit dikit*/
}

.engineer-card img {
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #b1001d;
    object-fit: cover;
    background: #fff;
}

.engineer-info h3 {
    margin: 0;
    color: #1a5b45;
    font-size: 17px;
    font-weight: 600;
}

.engineer-info ul {
    padding-left: 18px;
    margin: 6px 0 0;
}

.engineer-info li {
    font-size: 13.5px;
    color: #555;
    line-height: 1.5;
}


